<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570588242519-3v5v18jr41jaq7natvup2l6o7dkqcabq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570588242519-3v5v18jr41jaq7natvup2l6o7dkqcabq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>570588242519-mvc2nnauir6fk8ds595rceq158ec4duj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiXb8TiIJ7uvt5G9cJWSMbZv0i_4QByrI</string>
	<key>GCM_SENDER_ID</key>
	<string>570588242519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.recipebox</string>
	<key>PROJECT_ID</key>
	<string>recipebox-9900a</string>
	<key>STORAGE_BUCKET</key>
	<string>recipebox-9900a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570588242519:ios:8208a6d6a041b98a763912</string>
</dict>
</plist>